<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.songwei.androidpractice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".PracticeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--所有的activity-->
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".AIDL.AIDLBookActivity" />
        <activity android:name=".AIDL.AIDLRestaurantActivity" />
        <activity android:name=".AIDL.Messenger.MessengerActivity" />
        <activity android:name=".AIDL.ContentProvider.ProviderActivity" />
        <activity android:name=".AIDL.Socket.TCPClientActivity" />
        <activity android:name=".ImageLoader.ImageLoaderActivity" />
        <activity android:name=".CrashHandler.CrashActivity" />
        <activity android:name=".ui_optimise.UiOptimiseActivity" />
        <activity android:name=".HandlerThread.HandlerThreadActivity" />
        <activity android:name=".IntentService.IntentServiceActivity" />
        <activity android:name=".CustomViews.CustomViewsActivity" />
        <activity android:name=".CustomViews.views.CommonNotifyActivity" />

        <!--所有的service-->
        <service
            android:name=".AIDL.BookService"
            android:exported="true"
            android:process="com.songwei.aidl.book">
            <intent-filter>
                <action android:name="com.example.songwei.aidl.book" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".AIDL.RestaurantService"
            android:exported="true"
            android:process="com.songwei.aidl.restaurant">
            <intent-filter>
                <action android:name="com.example.songwei.aidl.restaurant" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".AIDL.Messenger.MessengerService"
            android:exported="true"
            android:process=":messenger">
            <intent-filter>
                <action android:name="com.example.songwei.aidl.messenger" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".AIDL.Socket.TCPServerService"
            android:exported="true"
            android:process=":socket"></service>

        <service android:name=".IntentService.MyIntentService">
            <intent-filter>
                <action android:name="com.songwei.practice.intent_service" />
            </intent-filter>
        </service>

        <!--所有的provider-->
        <provider
            android:name=".AIDL.ContentProvider.BookProvider"
            android:authorities="com.example.songwei.aidl.provider"
            android:permission="com.example.songwei.aidl.PROVIDER"
            android:process=":provider" />

    </application>

</manifest>